.header-con {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 8px 0px #706e6e;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web-logo {
  width: 50px;
  padding-left: 50px;
}

.menu {
  padding-right: 50px;
}

.menu-icon {
  height: 50px;
}
.link-con {
  display: flex;
  flex-direction: column;
}
